.div_container {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  align-items: center;
  height: 24rem;
  width: 100%;
  overflow-x: auto;
  overflow-x: hidden;
}
.operation_row {
  width: 89.3rem;
}
.operation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 5px;
}
.icons {
  display: flex;
  width: 10%;
  justify-content: space-between;
}
.div_container h3 {
  margin: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.reason {
  width: 120px;
  text-align: center;
}
.icon_delete {
  cursor: pointer;
}
.mount_less {
  color: rgb(183, 34, 34);
}
.mount_more {
  color: rgb(6, 137, 6);
}
.icon_delete:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}
.icon_edit:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}
@media screen and (max-width: 1439px) {
  .operation_row {
    width: 100%;
  }
  .mount_less {
    width: 6.2rem;
  }
  .mount_more {
    width: 6.2rem;
  }
}
@media screen and (max-width: 920px) {
  .div_container {
    width: max-content;
    min-width: 300px;
    margin: auto;
    align-items: center;
  }
  .icon_cash {
    display: none;
  }
  .operation_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .operation {
    height: 40px;
    width: max-content;
    padding: 2rem;
  }
  .div_container h3 {
    width: 5.4rem;
    margin: 2rem;
  }
  .icons {
    margin-right: 2rem;
    margin-left: 0%;
  }
}
@media screen and (max-width: 720px) {
  .div_container {
    width: 400px;
  }
  .operation h3 {
    width: 100px;
  }
  .operation {
    height: 300px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    border-radius: 4%;
    margin: 0.2rem;
    text-decoration: underline;
    border-top: 2px solid rgb(32, 78, 185);
    border-bottom: 2px solid rgb(32, 78, 185);
  }
}
